run = ["venv/bin/python","-mstreamlit", "run", "streamlit_app.py", "--server.headless", "true"]
compile = "python -mvenv venv; source venv/bin/activate; poetry install"
modules = ["python-3.11"]

hidden = [".pythonlibs"]

[nix]
channel = "stable-23_05"

[deployment]
run = ["venv/bin/python", "-mstreamlit", "run", "--server.address", "0.0.0.0", "--server.headless", "true", "--server.enableCORS=false", "--server.enableWebsocketCompression=false", "--server.runOnSave=false", "streamlit_app.py"]
ignorePorts = false
deploymentTarget = "gce"
build = ["sh", "-c", "python -mvenv venv; source venv/bin/activate; poetry install"]